@{
    ViewBag.Title = "Home Page";
}
@model Model.EF.Product
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <title>Document</title>


</head>
<body>

    <div class="container">
        @*@foreach (var item in model)
        {
            <tr>
                <td class="sorting_1">@item.name</td>
                <td><img width="200" src="@item.image" alt="" /></td>
                <td>@item.price</td>
                <td>@item.metatitle</td>
            </tr>
        }*@

        <div class="product-list">
            <div class="products">
                <img src="https://product.hstatic.net/1000306633/product/crayon_wolf_tee_8931063583b64843a325f1133732061c_grande.jpg" alt="" />
                <div class="detail-products">
                    <h4>BANFF NATIONAL PARK</h4>

                    <div class="card">
                        <button>Mua Ngay</button>
                        <button>Thêm vào giỏ</button>
                    </div>
                </div>
            </div>
            <div class="products">
                <img src="https://product.hstatic.net/1000306633/product/crayon_wolf_tee_8931063583b64843a325f1133732061c_grande.jpg" alt="" />
                <div class="detail-products">
                    <h4>BANFF NATIONAL PARK</h4>

                    <div class="card">
                        <button>Mua Ngay</button>
                        <button>Thêm vào giỏ</button>
                    </div>
                </div>
            </div>
            <div class="products">
                <img src="https://product.hstatic.net/1000306633/product/crayon_wolf_tee_8931063583b64843a325f1133732061c_grande.jpg" alt="" />
                <div class="detail-products">
                    <h4>BANFF NATIONAL PARK</h4>

                    <div class="card">
                        <button>Mua Ngay</button>
                        <button>Thêm vào giỏ</button>
                    </div>
                </div>
            </div>
            <div class="products">
                <img src="https://product.hstatic.net/1000306633/product/crayon_wolf_tee_8931063583b64843a325f1133732061c_grande.jpg" alt="" />
                <div class="detail-products">
                    <h4>BANFF NATIONAL PARK</h4>

                    <div class="card">
                        <button>Mua Ngay</button>
                        <button>Thêm vào giỏ</button>
                    </div>
                </div>
            </div>
        </div><br /><br />
        <div class="product-list">
            <div class="products">
                <img src="https://product.hstatic.net/1000306633/product/crayon_wolf_tee_8931063583b64843a325f1133732061c_grande.jpg" alt="" />
                <div class="detail-products">
                    <h4>BANFF NATIONAL PARK</h4>

                    <div class="card">
                        <button>Mua Ngay</button>
                        <button>Thêm vào giỏ</button>
                    </div>
                </div>
            </div>
            <div class="products">
                <img src="https://product.hstatic.net/1000306633/product/crayon_wolf_tee_8931063583b64843a325f1133732061c_grande.jpg" alt="" />
                <div class="detail-products">
                    <h4>BANFF NATIONAL PARK</h4>

                    <div class="card">
                        <button>Mua Ngay</button>
                        <button>Thêm vào giỏ</button>
                    </div>
                </div>
            </div>
            <div class="products">
                <img src="https://product.hstatic.net/1000306633/product/crayon_wolf_tee_8931063583b64843a325f1133732061c_grande.jpg" alt="" />
                <div class="detail-products">
                    <h4>BANFF NATIONAL PARK</h4>

                    <div class="card">
                        <button>Mua Ngay</button>
                        <button>Thêm vào giỏ</button>
                    </div>
                </div>
            </div>
            <div class="products">
                <img src="https://product.hstatic.net/1000306633/product/crayon_wolf_tee_8931063583b64843a325f1133732061c_grande.jpg" alt="" />
                <div class="detail-products">
                    <h4>BANFF NATIONAL PARK</h4>

                    <div class="card">
                        <button>Mua Ngay</button>
                        <button>Thêm vào giỏ</button>
                    </div>
                </div>
            </div>
        </div><br /><br />
        <div class="product-list">
            <div class="products">
                <img src="https://product.hstatic.net/1000306633/product/crayon_wolf_tee_8931063583b64843a325f1133732061c_grande.jpg" alt="" />
                <div class="detail-products">
                    <h4>BANFF NATIONAL PARK</h4>

                    <div class="card">
                        <button>Mua Ngay</button>
                        <button>Thêm vào giỏ</button>
                    </div>
                </div>
            </div>
            <div class="products">
                <img src="https://product.hstatic.net/1000306633/product/crayon_wolf_tee_8931063583b64843a325f1133732061c_grande.jpg" alt="" />
                <div class="detail-products">
                    <h4>BANFF NATIONAL PARK</h4>

                    <div class="card">
                        <button>Mua Ngay</button>
                        <button>Thêm vào giỏ</button>
                    </div>
                </div>
            </div>
            <div class="products">
                <img src="https://product.hstatic.net/1000306633/product/crayon_wolf_tee_8931063583b64843a325f1133732061c_grande.jpg" alt="" />
                <div class="detail-products">
                    <h4>BANFF NATIONAL PARK</h4>

                    <div class="card">
                        <button>Mua Ngay</button>
                        <button>Thêm vào giỏ</button>
                    </div>
                </div>
            </div>
            <div class="products">
                <img src="https://product.hstatic.net/1000306633/product/crayon_wolf_tee_8931063583b64843a325f1133732061c_grande.jpg" alt="" />
                <div class="detail-products">
                    <h4>BANFF NATIONAL PARK</h4>

                    <div class="card">
                        <button>Mua Ngay</button>
                        <button>Thêm vào giỏ</button>
                    </div>
                </div>
            </div>
        </div><br /><br />
    </div>

</body>
</html>

