
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var content = (Model.EF.Content)ViewBag.ContentDetail;
}

 @*HtmlString msg = new HtmlString("@content.Detail");*@
<div class="col-row-3">
    @Html.Raw(HttpUtility.HtmlDecode(@content.Detail))
</div>
<h1>@content.Name</h1>


